<div class="row g-0">
  <div class="col-4">
    <%= link_to "https://www.instagram.com/p/CPCRvpVtaEY/", target:"_blank", class:"d-block" do %> <%= image_pack_tag("media/images/1.jpg", class:"img-fluid") %> <% end %>
  </div>
  <div class="col-4">
    <%= link_to "https://www.instagram.com/p/COGLUVjJJl-/", target:"_blank", class:"d-block" do %> <%= image_pack_tag("media/images/2.jpg", class:"img-fluid") %> <% end %>
  </div>
  <div class="col-4">
    <%= link_to "https://www.instagram.com/p/COD0Hm-prG8/", target:"_blank", class:"d-block" do %> <%= image_pack_tag("media/images/3.jpg", class:"img-fluid") %> <% end %>
  </div>
</div>
<div class="row g-0">
  <div class="col-4">
    <%= link_to "https://www.instagram.com/p/COA81cmpmeR/", target:"_blank", class:"d-block" do %> <%= image_pack_tag("media/images/4.jpg", class:"img-fluid") %> <% end %>
  </div>
  <div class="col-4">
    <%= link_to "https://www.instagram.com/p/CN-7OTDJDua/", target:"_blank", class:"d-block" do %> <%= image_pack_tag("media/images/5.jpg", class:"img-fluid") %> <% end %>
  </div>
  <div class="col-4">
    <%= link_to "https://www.instagram.com/p/CN-T6mpJO-L/", target:"_blank", class:"d-block" do %> <%= image_pack_tag("media/images/6.jpg", class:"img-fluid") %> <% end %>
  </div>
</div>
