<div class="container light-bg">
  <h1 class="mt-3 text-center">Mis Compras</h1>
  <% if @payments.present? %>
  <div class="col-lg-12 py-3">
    <div class="table-responsive">
      <table class="table table-borderless text-center">
        <thead>
          <tr>
            <th>Número de compra</th>
            <th>Tipo de entrega</th>
            <th>Estado del pago</th>
            <th>Fecha de pago</th>
            <th>Monto</th>
          </tr>
        </thead>
        <tbody class="border-top">
          <% @payments.order("updated_at DESC").each do |payment| %>
          <tr class="border-bottom" id="deleteOrder<%= payment.id %>">
            <td class="align-middle"><%= link_to(payment.token, payment_path(Payment.find_by(user_id: current_user.id, token: payment.token))) %></td>
            <td class="align-middle"><%= t(payment.shipping) %></td>
            <td class="align-middle"><%= t(payment.status) %></td>
            <td class="align-middle text-capitalize"><%= payment.updated_at.strftime("%d/%m/%Y - %H:%M") %></td>
            <td class="align-middle"><%= number_to_currency(payment.amount, unit: "$", delimiter: ".", precision: 0) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
  <div class="d-grid gap-2 col-6 mx-auto">
    <%= link_to 'VOLVER A LA TIENDA', root_path, class: "btn btn-store shadow-none" %>
  </div>
</div>
