<div class="container">
  <div class="text-center">
    <h1 class="mt-3">Compras</h1>
  </div>
  <% if @payments.present? %>
  <div class="col-lg-12 py-5">
    <div class="table-responsive">
      <table class="table table-borderless text-center">
        <thead>
          <tr>
            <th>Número de compra</th>
            <th>Estado del pago</th>
            <th>Tipo de entrega</th>
            <th>Fecha de pago</th>
            <th>Monto</th>
            <th>Usuario</th>
          </tr>
        </thead>

        <tbody class="border-top">
          <% @payments.order("updated_at DESC").each do |payment| %>
          <tr class="border-bottom">
            <td class="align-middle"><%= link_to(payment.token, payment_path(Payment.find_by(token: payment.token))) %></td>
            <td class="align-middle"><%= t(payment.status) %></td>
            <td class="align-middle"><%= t(payment.shipping) %></td>
            <td class="align-middle"><%= payment.updated_at.strftime("%d/%m/%Y - %H:%M") %></td>
            <td class="align-middle"><%= number_to_currency(payment.amount, unit: "$", delimiter: ".", precision: 0) %></td>
            <td class="align-middle"><%= payment.user.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>

  <div class="text-center">
    <h1 class="mt-3">Carro de compras de clientes</h1>
  </div>
  <% if @orders.present? %>
  <div class="col-lg-12 py-5">
    <div class="table-responsive">
      <table class="table table-borderless text-center">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Usuario</th>
            <th>Fecha creación</th>
            <th></th>
          </tr>
        </thead>

        <tbody class="border-top">
          <% @orders.each do |order| %>
          <tr class="border-bottom" id="deleteOrder<%= order.id %>">
            <td class="align-middle fw-bold"><%= image_tag(order.stock.product.photo, class:"img-fluid", style:"max-height:10rem;")%><br><%= order.stock.product.name %></td>
            <td class="align-middle"><%= order.quantity %></td>
            <td class="align-middle"><%= order.user.name %></td>
            <td class="align-middle"><%= order.updated_at.strftime("%d/%m/%Y - %H:%M") %></td>
            <td class="align-middle icons"><%= link_to order, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do render 'partials/icons/trash' end%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
</div>
